{%load static%}


<footer class="footer-1 footer-wrap">
    <div class="footer-widgets-wrapper theme-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="about-transland">
                        <a href="{%url 'index'%}">
                            <img src="{%static 'images/icons/logo-white.png'%}"
                                alt="Mini Truck Booking - ezTruck Logistics">
                        </a>
                        <p> ezTruck is a fast and easy Mini Truck booking platform. We provide services such as
                            lorry
                            transport, professional house moving and office moving.</p>
                        <div class="wid-title mt-3">
                            <h6>Download Our App</h6>
                        </div>
                        <div class="wid-title">
                            <a href="https://apps.apple.com/in/app/eztruck/id6498549011" target="_blank"
                                class="mb-2">
                                <img src="{%static 'images\services\apple_app.webp'%}" style="height:35px;width:120px;"
                                    alt="Mini Truck Booking - ezTruck Logistics">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.EzTruck" target="_blank"
                                class="mb-2">
                                <img src="{%static 'images\services\gp.webp'%}" style="height:35px;width:120px;"
                                    alt="Mini Truck Booking - ezTruck Logistics">
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-xl-2">
                    <div class="single-footer-wid ps-xl-4">
                        <div class="wid-title">
                            <h6>Quick Links</h6>
                        </div>
                        <ul>
                            <li class="mb-2"><a href="{%url 'blog' %}">Blog</a></li>

                            <li class="mb-2"><a href="{%url 'driver' %}">Driver</a></li>
                            <li class="mb-2"><a href="{%url 'career'%}">Career</a></li>
                            <li class="mb-2"><a href="{%url 'about' %}">About Us</a></li>
                            <li class="mb-2"><a href="{%url 'contact'%}">Contact Us</a></li>
                            <li class="mb-2"><a href="{%url 'enterprise' %}">For Enterprise</a></li>
                            <li class="mb-2"><a href="{%url 'privacy' %}">Privacy Policy</a></li>
                            <li class="mb-2"><a href="{%url 'refundcancellation' %}">Refund and Cancellation</a></li>
                            <li class="mb-2"><a href="{%url 'shipdelivery' %}">Ship & Delivery</a></li>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-2">
                    <div class="single-footer-wid ps-xl-2">
                        <div class="wid-title">
                            <h6>Our Services</h6>
                        </div>
                        <ul>
                            <li class="mb-2"><a href="{%url 'LocalLogistics'%}">Local Logistics </a></li>
                            <li class="mb-2"><a href="{%url 'HouseShifting'%}">House Shifting</a></li>
                            <li class="mb-2"><a href="{%url 'businessLogistics'%}">Business logistics</a></li>
                            <li class="mb-2"><a href="{%url 'FurnitureLogistics'%}">Furniture Logistics</a></li>
                            <li class="mb-2"><a href="{%url 'MiningLogistics'%}">Mining Logistics</a></li>
                            <li class="mb-2"><a href="{%url 'constructionMaterials'%}">Construction Material</a>
                            <li class="mb-2"><a href="{%url 'MoversPacker'%}">Packers & Movers</a>
                            <li class="mb-2"><a href="{%url 'EcommerceLogistics'%}">Ecommerce Logistics</a>


                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-2">
                    <div class="single-footer-wid">
                        <div class="wid-title">
                            <h6>Industry Sectors</h6>
                        </div>
                        <ul>
                            <li><a href="javascript:void(0)">Electronics</a></li>
                            <li><a href="javascript:void(0)">Manufacturing</a></li>
                            <li><a href="javascript:void(0)">Mining</a></li>
                            <li><a href="javascript:void(0)">Logistics</a></li>
                            <li><a href="javascript:void(0)">Ecommerce</a></li>
                            <li><a href="javascript:void(0)">Energy & Chemical</a></li>
                            <li><a href="javascript:void(0)">RealEstate</a></li>
                            <li><a href="javascript:void(0)">Hospitality</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-wid site-info-widget">
                        <div class="wid-title">
                            <h6>Get In Touch</h6>
                        </div>
                        <div class="get-in-touch">
                            <div class="single-contact-info">
                                <div class="icon id1">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info">
                                    <a
                                        href="https://www.google.co.in/maps/search/Plot+no.60,+District+Center,+Chandrasekharpur,+Bhubaneswar,+Odisha+751016/@20.3234619,85.8192307,46m/data=!3m1!1e3!4m7!2m6!3m5!1sPlot+no.60,+District+Center,+Chandrasekharpur,+Bhubaneswar,+Odisha+751016!2s20.323505,+85.819484!4m2!1d85.8194837!2d20.3235054?hl=en">
                                        <span>New IT ZONE, Plot no N37, Chandaka Industrial Estate, Patia,</span>
                                        <span>Bhubaneswar, Odisha 751024</span>
                                    </a>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="icon id2">
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div class="contact-info">
                                    <a href="tel:1800-208-3311"><span>1800-208-3311</span></a>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="icon id3">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="contact-info">
                                    <span>hello@eztruck.co</span>

                                </div>
                            </div>
                        </div>

                        <div class="newsletter_widget">
                            <div class="newsletter_box">
                                <img src="{%static 'images\startup-odisha.png'%}"
                                    alt="Logistics company in Bhubaneswar">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container align-items-center">
            <div class="bottom-content-wrapper">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="copy-rights text-white">

                            <p>@<span id="time"></span> <strong>ezTruck Logistics pvt. Ltd</strong>, All Rights Reserved
                            </p>
                        </div>

                    </div>
                    <div class="col-md-6 mt-2 mt-md-0 col-12 text-md-end">
                        <div class="social-links">

                            <a class="text-white" role="button" href="https://www.facebook.com/ezTruckIndia"
                                target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="text-white" role="button" href="https://twitter.com/eztrucklogistic"
                                target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="text-white" role="button"
                                href="https://www.linkedin.com/company/eztrucklogistics/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="text-white" role="button" href="https://www.instagram.com/eztruck_logistics/"
                                target="_blank"><i class="fab fa-instagram"></i></a>
                            <a class="text-white" role="button"
                                href="https://www.youtube.com/channel/UCPikp3nlwQz4YEY4_orm83Q" target="_blank"><i
                                    class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="m-f-btns-2 ">
    <a href="https://api.whatsapp.com/send?phone=919124364219" onclick="gtag_report_conversionW()" target="_blank"
        class="WhatsappIcon wmobilIcon click-to-whatsapp"><img
            src="https://zoomdigital.ae/wp-content/themes/Zoom/img/whatspp-icon-green.svg" class="lazyloaded"
            data-ll-status="loaded"><noscript><img
                src="https://zoomdigital.ae/wp-content/themes/Zoom/img/whatspp-icon-green.svg"></noscript></a>

</div>
<!-- Footer -->
<script src="//code.tidio.co/esebk4nela7glzoffm6bq8np5vom4xo2.js" async></script>
<script type="text/javascript">
    var datetime = new Date().getFullYear();
    console.log(datetime); // it will represent date in the console of developers tool
    document.getElementById("time").textContent = datetime; 
</script>
<script src="{%static 'ezadmin/vendors/js/core/jquery-3.3.1.min.js'%}"></script>
<script src="{%static 'ezadmin/vendors/js/core/popper.min.js'%}"></script>
<script src="{%static 'ezadmin/vendors/js/sweet-alerts.js'%}"></script>
<script src="{%static 'ezadmin/vendors/js/sweetalert2.min.js'%}"></script>
<!-- End of .container -->
