{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About us | ezTruck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Booking a mini truck online was never so easy. ezTruck is the solution for Local logistics services, book a mini truck any time and get real-time tracking. Book with ezTruck for all local logistic solutions 1800-208-3311. ">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, jobs, career, Construction Material Logistics, E-commerce logistics">
    <style>
        #more {
            display: none;
        }
    </style>
    {%include 'include/linked.html'%}

</head>

<body class="body-wrapper">
    {%include 'include/header.html'%}
    <div class="page-banner-wrap bg-cover" style="background-image: url('/static/images/banner/banner-1.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
    <section class="about-us-wrapper section-padding2 reveal">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start">
                    <div class="about-img">
                        <img src="{%static 'images/about/about-us.jpg' %}" alt="Logistcs Services - ezTruck">
                    </div>
                </div>
                <div class="col-lg-6 mt-5 mt-lg-0 ps-lg-5">
                    <div class="block-contents">
                        <div class="section-title">
                            <h5 class="textleft relative">about</h5>
                            <h2>Company <span>Vision</span></h2>

                        </div>
                    </div>
                    <div class="about-info-contents">
                        <p>ezTruck started its journey in 2020 to revolutionise the logistics and supply-chain sectors
                            digitally. A contemporary
                            technology-driven platform for both drivers and customers with transparency.
                            Here at ezTruck, we offer all logistics and supply-chain solutions, such as truck transport,
                            professional packers and
                            movers for house or office moving, e-commerce, local logistics, business logistics, and many
                            more.<br>

                            ezTruck is bringing you a complete logistics solution at your fingertips. Getting business
                            for local truck drivers and
                            getting your goods transported at the right price is not an easy task.<span
                                id="dots">...</span><span id="more"> ezTruck created a portal for these customers who
                                need their goods transported and for truck drivers together. After
                                successfully running in Odisha for the last two years, we are looking forward to
                                connecting all over India. ezTruck only
                                recruits drivers with verified IDs and a good record. And customers find the best price
                                ever. Which makes us the best
                                and most trusted brand in the industry. Therefore, ezTruck is looking forward to
                                elevating the logistics system
                                digitally and making it easy to book trucks for business and household purposes.
                                Simultaneously improving the lives of
                                truck drivers and providing them with income on a daily basis. </span></p>
                        <div class="theme-btn">
                            <a onclick="myFunction()" id="myBtn" class="moreless-button"><span>Read More</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="why-chose-us section-padding section-bg reveal">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 mb-40">
                    <div class="block-contents text-center">
                        <div class="section-title">
                            <h5>features</h5>
                            <span>why choose use</span>
                            <h2>6 Reasons <span>Why choose</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mtm-30">
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-sack-dollar"></i>
                        </div>
                        <div class="contents">
                            <h4>Hassle-free services</h4>
                            <p>We provide hassle-free shipping and flawless logistics solutions for all your
                                transportation needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-shipping-timed"></i>
                        </div>
                        <div class="contents">
                            <h4>On - Time Delivery</h4>
                            <p>We understand the value of time for you as well as for us. That is why we try to deliver
                                your consignment on time, every time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-phone-rotary"></i>
                        </div>
                        <div class="contents">
                            <h4>Book Direct</h4>
                            <p>Our partner may reserve a minitruck immediately with a single phone call or click.</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-eye-slash"></i>
                        </div>
                        <div class="contents">
                            <h4>No Hidden Fees</h4>
                            <p>ezTruck does not charge commissions from its users for using the ezTruck app or website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-user-headset"></i>
                        </div>
                        <div class="contents">
                            <h4>24/7 Online Support</h4>
                            <p>We offer 24x7 customer support to help our users with booking-related issues or general
                                queries.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-shield-check"></i>
                        </div>
                        <div class="contents">
                            <h4>100% Safe & Secure </h4>
                            <p>The RBI-approved payment gateway is 100% safe and secure and aids online bookings without
                                hassles or delays.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-wrapper section-padding bg-overlay bg-cover reveal"
        style="background-image: url('/static/images/test/cta-bg.jpg')">
        <div class="container">
            <div class="col-lg-8 offset-lg-2 col-12 text-center">
                <div class="cta-contents">
                    <h1 class="text-white mt-5 mb-4" style="color:black;">World’s Leading Contract Logistics Provider
                    </h1>
                    <a href="{%url 'contact'%}" class="theme-btn" target="_blank">make custom request</a>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial-wrapper section-bg section-padding reveal">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 mb-40">
                    <div class="block-contents text-center">
                        <div class="section-title">
                            <h5>review</h5>
                            <span>Testimonials</span>
                            <h2>Client <span>Feedbacks</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12 col-12 mt-5 mt-lg-0">
                    <div class="testimonial-carousel-active">
                        <div class="single-testimonial-card text-center">
                            <div class="client-img bg-cover bg-center"
                                style="background-image: url('/static/images/client/client1.png')"></div>
                            <div class="client-info">
                                <h4>Subham Mohanty</h4>
                                <span>Project Manager</span>
                            </div>
                            <div class="feedback">
                                <p>Very good professional service. On time delivery and trustable deliveries . Really
                                    helpful for local logistics services. Would recommend for anyone who is willing to
                                    opt for local logistics.</p>

                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-card text-center">
                            <div class="client-img bg-cover bg-center"
                                style="background-image: url('/static/images/client/client2.png')"></div>
                            <div class="client-info">
                                <h4>Rathindra Setua</h4>
                                <span>Web Designer</span>
                            </div>
                            <div class="feedback">
                                <p>It a good company having good work culture.Employees are very friendly and
                                    Co-operative.Would recommend for anyone who is willing to work here.Highly
                                    recommended Service&nbsp</p>
                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-card text-center">
                            <div class="client-img bg-cover bg-center"
                                style="background-image: url('/static/images/client/client3.png')"></div>
                            <div class="client-info">
                                <h4>Smitarani padhi</h4>
                                <span>Software Engineer</span>
                            </div>
                            <div class="feedback">
                                <p>Best logistics company . It's gives assure fast and safe delivery. Contact without
                                    any hesitation for your any shifting, packing, moving.Would recommend for anyone who
                                    is willing to opt for House Shifting</p>

                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial-card text-center">
                            <div class="client-img bg-cover bg-center"
                                style="background-image: url('/static/images/client/client4.png')"></div>
                            <div class="client-info">
                                <h4>Marry Smith</h4>
                                <span>Business Woman</span>
                            </div>
                            <div class="feedback">
                                <p>Great experience and impressive product. It was a very professional and technically
                                    competent job from the whole team.Would recommend for anyone who is willing to opt
                                    for local logistics</p>

                                <div class="star">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="brand-showcase-funfact-wrapper section-padding bg-contain bg-center reveal"
        style="background-image: url('/static/img/dot_map.webp')">
        <div class="container">
            <div class="col-12 text-center mb-20 mtm-20">
                <div class="mask-outline bg-center" style="background-image: url('/static/images/icons/mask-bg.png')">
                    <h1>&nbsp;2000+</h1>
                    <!-- <h1>{{booking}}</h1> -->
                </div>
                <h6 class="mt-4">All-over delivery done by our team</h6>
            </div>

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="single-brand-logo">
                        <img src="{%static 'img/brand/1.png'%}" alt="Medplus - ezTruck Logistics">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="single-brand-logo">
                        <img src="{%static 'img/brand/2.png'%}" alt="Bharat Elotronics - ezTruck Logistics">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="single-brand-logo">
                        <img src="{%static 'img/brand/3.png'%}" alt="Big Baskets - ezTruck logisitcs">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="single-brand-logo">
                        <img src="{%static 'img/brand/4.png'%}" alt="client list - ezTruck Logistics">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="single-brand-logo">
                        <img src="{%static 'img/brand/5.png'%}" alt="Bharat Elotronics - ezTruck Logistics">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="single-brand-logo">
                        <img src="{%static 'img/brand/6.png'%}" alt="Big Baskets - ezTruck logisitcs">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="single-brand-logo">
                        <img src="{%static 'img/brand/7.png'%}" alt="client list - ezTruck Logistics">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>
</body>

</html>