{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://eztruck.co/career/apply/">
    <title>Career - ezTruck</title>
    <meta name="description" content="Current opening jobs in ezTruck. Feel free to apply because no body is perfect.">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, Construction Material Logistics, E-commerce logistics">

    {%include 'include/linked.html'%}
</head>

<body class="body-wrapper">
    {%include 'include/header.html'%}
    <div class="page-banner-wrap bg-cover" style="background-image: url('/static/images/banner/career-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Career</h1>
            </div>
        </div>
    </div>
    <section class="ftco-section reveal">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-contents mb-60">
                        <div class="section-title text-center">
                            <h5 class="text-center">Career</h5>
                            <span>For Better Future</span>
                            <h2>Current <span>Jobs</span></h2>
                            <p>Logistics is a growing business on a global scale. Hence the career opportunities are
                                also going upwards. A logistic company efficient management system and punctual
                                candidates for executing several tasks. In logistics companies managing transportation,
                                Keeping everything in a book, inventory management, etc. It is a huge 10115.6 billion
                                dollar industry with a lot to offer to persistent candidates.</p>
                            <p>The salary for these positions can be 6 lakh per annum to 10 lakh per annum. Mainly the
                                best salary is offered in the logistics industry than any other. The demand for
                                employees is increasing day by day. As we can see, the consumption of supply chain goods
                                is gradually increasing.
                                ezTruck is the leading logistics business in Odisha. ezTruck is always in search of
                                productive candidates for permanent and internship jobs. We are in ezTruck and have a
                                good demand for developers, logistic managers, bookkeepers, etc. ezTruck is the teamwork
                                of our members which brought us so far.
                            </p>
                            <p>
                                Become a member of our amazing team. To join our team apply on our website with a resume
                                and mail us a detailed cover letter to hello@eztruck.co. Follow us on social media to
                                get available job information immediately.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <section class="table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Job_title</th>
                            <th scope="col">Location</th>
                            <th scope="col">Employment Type</th>
                            <th scope="col">Apply Here</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row"><a href="{%url 'operation'%}">Operation Executive</a></th>
                            <td>Bhubaneswar</td>

                            <td>Permanent</td>
                            <td><a href="{%url 'operation'%}"><button class="theme-btn4">Apply Here</button></a>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </section>
    </section>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>

</body>

</html>