{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Opportunities | ezTruck</title>
    <meta name="description"
        content="If you are looking to start your career in odisha, ezTruck is best company for you. We offer best salary to our employes.">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, jobs, career, Construction Material Logistics, E-commerce logistics">
    <link rel="canonical" href="https://eztruck.co/career/">
    {%include 'include/linked.html'%}
</head>

<body class="body-wrapper">
    {%include 'include/header.html'%}
    <!-- preloader -->
    <div class="page-banner-wrap  bg-cover" style="background-image: url('/static/images/banner/career-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Career</h1>
            </div>
        </div>
    </div>
    <section class="ftco-section reveal">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-contents mb-60">
                        <div class="section-title text-center">
                            <h5 class="text-center">Career</h5>
                            <span>For Better Future</span>
                            <h2>Join <span>Us</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <section class="career">
                <div class="career-content">
                    <div class="max-width">
                        <div class="container">
                            <div class="row">
                                <div class="page-heading text-center">
                                    <h2>Want to share your energy with a startup?</h2>
                                </div>
                                <h4 align="center">Help us build the best technology-based logistics company. </h4>
                                <p class="text-center mt-3">ezTruck is at the heart of the ultimate, mobility, and
                                    electric vehicle space, driving the future of businesses by providing on-demand
                                    flexibility for Trucks/Mini Trucks. Through vehicle sharing, the ezTruck platform
                                    eliminates
                                    the need to own these static, gets the vehicle off the road, and reduces its impact
                                    on the environment. ezTruck fleet management solutions, including vehicle tracking,
                                    driver verification, self-service, and distributed
                                    maintenance, improve organization operations. We are growing rapidly in Odisha with
                                    a proven business model and modern technology platform. Learn more about ezTruck and
                                    help us build the future of logistics services.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="why_work" style="margin-bottom:30px;">
                <div class="max-width">
                    <div class="container">
                        <h5 class="text-center pt-3 mt-5">WHY YOU WILL LOVE WORKING AT ezTruck </h5>
                        <div class="row m-5">
                            <div class="col-lg-3 col-md-3 text-center"><img
                                    src="{%static 'images/icons/challenging-icon.png'%}"
                                    alt="Logistics Challenges - ezTruck"><br><br>
                                <h5>Challenging Problem</h5>
                            </div>
                            <div class="col-lg-3 col-md-3 text-center"><img
                                    src="{%static 'images/icons/team-mates-icon.png'%}"
                                    alt="Logistics Team - ezTruck"><br><br>
                                <h5>Fantastic Team Mates</h5>
                            </div>

                            <div class="col-lg-3 col-md-3 text-center"><img
                                    src="{%static 'images/icons/clock-icon.png'%}"
                                    alt="24*7 Customer Services - ezTruck Logisitcs"><br><br>
                                <h5>Flexible Working Hours
                                </h5>
                            </div>

                            <div class="col-lg-3 col-md-3 text-center"><img
                                    src="{%static 'images/icons/happy-people-icon.png'%}"
                                    alt="Happy Customers - ezTruck Logistics"><br><br>
                                <h5>Friendly Environment</h5>
                            </div>
                        </div>
                    </div>
                    <!-- <h1 style="font-size:25px;text-align:center;font-weight:bold;">Current Opennings</h1> -->
                    <div class="header-right-element text-center">
                        <a href="{%url 'apply'%}" class="theme-btn3">Current Job Openings</a>
                    </div>

            </section>
    </section>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
</body>

</html>