{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Become our Logistics Partner in Odisha | eztruck</title>
    <meta name="description"
        content="Attach your vehicle on our company and increase your revenue and work as a freelancer. Contact with us using 1800-208-3311 toll-free number.">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, jobs, career, Construction Material Logistics, E-commerce logistics">
    <link rel="canonical" href="https://eztruck.co/logistics-partners/">
    {%include 'include/linked.html'%}
</head>

<body>
    {%include 'include/header.html'%}
    <section class="request-a-quote-section2 theme-bg bg-cover calculate-wrapper section-padding2" id="booking"
        style="background-image: url('/static/images/driver/driver-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="block-contents pt-5 mt-5 pr-30">
                        <div class="section-title">
                            <h5 class="textleft">Attach</h5>
                            <div class="pt-4"></div>
                            <h2>Mini <span>Trucks</span></h2>
                            <p class="text-white mt-4">Income massive amount of money daily basis</p>
                            <h4 class="text-white"><span>Join your vehicle with ezTruck and improve your income by
                                    logistic transportation.</span></h4>
                            <p class="text-white mt-4 mb-2">Download the partner app and register</p>
                            <a href="https://play.google.com/store/apps/details?id=com.EzTruckPartner"> <img
                                    src="{%static 'images/services/gp.webp'%}" alt="Download App - ezTruck Logisitcs"
                                    style="width:150px;"></a>
                            <a href="https://apps.apple.com/in/app/eztruck-partner/id6497171193"> <img src="{%static 'images/services/apple_app.webp'%}"
                                    alt="Download App - ezTruck Logisitcs" style="width:150px;"></a>
                        </div>
                    </div>

                </div>

                <div class="col-xl-6 col-12 reveal">
                    <div class="request-quote-form-wrapper mt-5 mt-xl-0 ms-xl-3">
                        <h4>Attach Your Vehicle</h4>
                        <div class="request-quote-form">
                            <form method="POST" onsubmit="popup()">{%csrf_token%}
                                <div class="row d-flex align-item-center">
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="dname" id="" placeholder="Name"
                                            pattern="^[a-zA-Z\s]{3,20}$" title="Invalid Name. e.g. John" required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="email" name="e1" id="" placeholder="Email"
                                            pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                                            title="Incorrect Email-ID. e.g. john@example.com" required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="dnum" id="" placeholder="Number"
                                            pattern="^[6-9]{1}[0-9]{9}$" title="Invalid Phone number" required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <select name="veh" required>
                                            <option value="">Select One</option>
                                            <option value="Auto">Auto</option>
                                            <option value="Tata Ace">Tata Ace</option>
                                            <option value="Small Pickup">Small Pickup</option>
                                            <option value="Large Pickup ">Large Pickup</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="citys" id="search_input" placeholder="City"
                                            class="pac-target-input" autocomplete="off" required />
                                    </div>

                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="vehnum" placeholder="Vehicle Number"
                                            pattern="^[A-Z]{2}[0-9]{2}[A-Z]{1,2}[0-9]{4}$" class="pac-target-input"
                                            title="Invalid vehicle number " required />
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <input type="text" name="licnum" placeholder="Drivers license"
                                            pattern="^[A-Z]{2}(?:\d[- ]*){13}$" title="Invalid license number"
                                            required />
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="submit" class="theme-btn" value="Submit Here">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-wrapper section-padding2 reveal">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12 pr-30">
                    <div class="about-img">
                        <img src="{%static 'images\driver\driver.jpg'%}" alt="Logistics Partner Services - ezTruck">
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <div>
                        <h2><span>Golden opportunity for truck fleet owners</span></h2>
                        <p>Single or multiple join your owned trucks to ezTruck and start earning at once. We are an
                            online platform that is solving your problem to get clients. you can do the work directly
                            without any bargaining and hunt for clients and compete with fellow fleet owners. Start your
                            development journey with ezTruck by transport logistics for supply chain companies, local
                            businesses, and shifting jobs. </p>
                        <h2><span>What is your convenience from ezTruck?</span></h2>
                        <p>
                        <ul style="list-style-type: circle;">
                            <li class="mb-1">1.No need for searching for trips ezTruck is providing trips daily for you.
                                We got clients and transportation all over Odisha. So, You will get an infinite
                                opportunity to never run out of trips.</li>
                            <li class="mb-1">2.Regular multiple trips will reflect on your account numerically. This is
                                a stunning amount of money because ezTruck is giving a maximum share to the drivers and
                                keeping a minimum amount.</li>
                            <li class="mb-1">3.You will receive payment instantly after delivery.</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="funfact-countdown-wrapper fix section-padding section-bg reveal">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="block-contents mb-20">
                        <div class="section-title">
                            <h5 class="textleft">Benefits</h5>
                            <!-- <span>Benefits</span> -->
                            <h2>ezTruck <span>Advantages</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-steps-list">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-work-steps">
                            <div class="icon">
                                <img src="{%static 'images\driver\Advantage-1.png' %}"
                                    alt="Timely delivery - ezTruck Logistics">
                            </div>
                            <div class="content">
                                <h4>Regular Trips</h4>
                                <p>With our growing presence across multiple cities, we always have our hands full! This
                                    means you will never run out of trips.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-work-steps">
                            <div class="icon">
                                <img src="{%static 'images\driver\Advantage-2.png'%}" alt="Logistics ROI - ezTruck">
                            </div>
                            <div class="content">
                                <h4>Better Earning</h4>
                                <p>Earn more by partnering with the best! Regular trips and efficient service can grow
                                    your earnings!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-work-steps">
                            <div class="icon">
                                <img src="{%static 'images\driver\Advantage-3.png'%}"
                                    alt="Logistics Return of Investment - ezTruck">
                            </div>
                            <div class="content">
                                <h4>On-Time Payment</h4>
                                <p>Be assured to receive all payments on time & get the best in class support, when you
                                    attach mini truck with Porter.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function popup() {
            swal("You have applied successfully!!", "Your submission is received and we will contact you very soon.", "success")
        }
    </script>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
</body>

</html>
