{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Enterprise Logistics Solutions in Odisha | eztruck</title>
    <meta name="description"
        content="If you are looking for best enterprise logistics solutions for your business in odisha. Contact with us using 1800-208-3311 toll-free number.">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, jobs, career, Construction Material Logistics, E-commerce logistics">
    <link rel="canonical" href="https://eztruck.co/enterprise-logistics-services/">
    {%include 'include/linked.html'%}
</head>

<body class="body-wrapper">
    {%include 'include/header.html'%}
    <section class="request-a-quote-section2 theme-bg bg-cover calculate-wrapper section-padding2" id="booking"
        style="background-image: url('/static/images/driver/driver-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="block-contents pt-5 mt-5 pr-30">
                        <div class="section-title">
                            <h5 class="textleft">Enterprise</h5>
                            <div class="pt-4"></div>
                            <h1>Innovative <span>Logistics</span></h1>
                            <p class="text-white">Trustworthy enterprise logistic services for a brisk and scheduled
                                delivery</p>
                            <h4 class="text-white">A full-stack small and heavy logistics solution in Odisha for all
                                enterprise demands.</h4>
                            <p class="text-white mt-4 mb-2">Download the partner app and register</p>

                            <a href="https://play.google.com/store/apps/details?id=com.EzTruck"> <img
                                    src="{%static 'images/services/gp.webp'%}" alt="Download App - ezTruck Logisitcs"
                                    style="width:150px;"></a>
                            <a href="https://apps.apple.com/in/app/eztruck/id6498549011"> <img src="{%static 'images/services/apple_app.webp'%}"
                                    alt="Download App - ezTruck Logisitcs" style="width:150px;"></a>
                        </div>
                    </div>

                </div>

                <div class="col-xl-6 col-12  reveal">
                    <div class="request-quote-form-wrapper mt-5 mt-xl-0 ms-xl-3">
                        <h4>Attach Your Vehicle</h4>
                        <div class="request-quote-form">
                            <form method="POST" onsubmit="popup()">{%csrf_token%}
                                <div class="row d-flex align-item-center">
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="entrname" id="" placeholder="Name"
                                            pattern="^[a-zA-Z\s]{3,20}$" title="Invalid Name. e.g. John" required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="email" name="entremail" id="" placeholder="Email"
                                            pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                                            title="Incorrect Email-ID. e.g. john@example.com" required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="entrnum" id="" placeholder="Number"
                                            pattern="^[6-9]{1}[0-9]{9}$" title="Invalid Phone number" required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <select name="entrveh" required>
                                            <option value="">Select One</option>
                                            <option value="Auto">Auto</option>
                                            <option value="Tata Ace">Tata Ace</option>
                                            <option value="Small Pickup">Small Pickup</option>
                                            <option value="Large Pickup ">Large Pickup</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="entrcitys" id="search_input" placeholder="City"
                                            class="pac-target-input" autocomplete="off" required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="entrcomp" placeholder="Company name"
                                            pattern="^[a-zA-Z\s]{3,20}$" title="Invalid Name. e.g. eztruck" required />
                                    </div>

                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="entrpvehnum" placeholder="Vehicle Number"
                                            pattern="^[A-Z]{2}[0-9]{2}[A-Z]{1,2}[0-9]{4}$" class="pac-target-input"
                                            title="Invalid vehicle number " required />
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" name="entrlicnum" placeholder="Drivers license"
                                            pattern="^[A-Z]{2}(?:\d[- ]*){13}$" title="Invalid license number"
                                            required />
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="submit" class="theme-btn" value="Submit Here">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-chose-us section-padding section-bg reveal">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 mb-40">
                    <div class="block-contents text-center">
                        <div class="section-title">
                            <h5>features</h5>
                            <span>why choose use</span>
                            <h2>6 Reasons <span>Why choose</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mtm-30">
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="far fa-sack-dollar"></i>
                        </div>
                        <div class="contents">
                            <h4>Transparent Pricing</h4>
                            <p>Our prices are competitive and fair. Any additional expenses must be pre-approved by you.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-shipping-timed"></i>
                        </div>
                        <div class="contents">
                            <h4>On - Time Delivery</h4>
                            <p>We commit ourselves to complete all projects within the timeline set with our honorable
                                clients.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-clock"></i>
                        </div>
                        <div class="contents">
                            <h4>Real Time Tracking</h4>
                            <p>With real-time tracking you’ll be able to view, analyze, predict and communicate the
                                status of any shipment in real time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-plane-departure"></i>
                        </div>
                        <div class="contents">
                            <h4>Global Logistics Partner</h4>
                            <p>We are a Global Logistics Partner.It aims to overcome the space and time distance between
                                production and consumption.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-user-headset"></i>
                        </div>
                        <div class="contents">
                            <h4>24/7 Online Support</h4>
                            <p>We are available for our clients 24×7 that reaches new levels of customer care.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mt-30">
                    <div class="single-features-box">
                        <div class="icon">
                            <i class="fal fa-shield-check"></i>
                        </div>
                        <div class="contents">
                            <h4>Insurance & guarantee</h4>
                            <p>We commit ourselves to complete all projects within the timeline set with our honorable
                                clients.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-wrapper section-padding2 reveal">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12 pr-30">
                    <div class="about-img">
                        <img src="{%static 'images\driver\enterprise.jpg'%}" alt="Logistics Partner Services - ezTruck">
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 col-12">

                    <h2 class="section-heading">A genius enterprise logistic solution for
                        Odisha</h2>
                    <p class="text-justify">ezTruck enterprise logistics is an all-in-one solution to fulfill all the
                        supply
                        chain requirements in Odisha. ezTruck fleet is always ready to go to any location in the state
                        for delivery.
                        Increasing consumption capacity of people came with a huge demand for an efficient supply chain
                        management
                        system. We can also see the growth in e-commerce businesses. ezTruck solves all the logistic
                        affiliated
                        problems like packaging, moving, safeguarding, easy pick-up, delivery, warehousing, etc. A
                        complete solution
                        for business owners whether you are selling products physically or online.<br> ezTruck has a
                        fleet
                        of trucks in
                        all shapes and sizes to match your prerequisites. Only ezTruck will allow you to choose your
                        vehicle
                        according to your requirement at a very inexpensive price. The icing on the cake is you can
                        real-time track
                        the fleet with the ezTruck app. ezTruck is a progressive choice for your all enterprise
                        logistics needs.</p>

                </div>
            </div>
        </div>
    </section>
    <section class="funfact-countdown-wrapper fix section-bg">
        <div class="container p-0">
            <div class="row no-padding">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-funfact-item">
                        <div class="icon">
                            <img src="{%static 'images/icons/1.png' %}" alt="">
                        </div>
                        <div class="countdown">
                            <h2>8700</h2>
                            <span>Cities</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-funfact-item">
                        <div class="icon">
                            <img src="{%static 'images/icons/2.png' %}" alt="">

                        </div>
                        <div class="countdown">
                            <h2>5644</h2>
                            <span>Enterprise Clients</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-funfact-item">
                        <div class="icon">
                            <img src="{%static 'images/icons/3.png' %}" alt="">

                        </div>
                        <div class="countdown">
                            <h2>2390</h2>
                            <span>Driver Partner</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-funfact-item">
                        <div class="icon">
                            <img src="{%static 'images/icons/4.png' %}" alt="">

                        </div>
                        <div class="countdown">
                            <h2>1150</h2>
                            <span>Total Trips</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function popup() {
            swal("You have applied successfully!!", "Your submission is received and we will contact you very soon.", "success")
        }
    </script>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
    <script>
        let valueDisplays = document.querySelectorAll(".num");
        let interval = 4000;

        valueDisplays.forEach((valueDisplay) => {
            let startValue = 0;
            let endValue = parseInt(valueDisplay.getAttribute("data-val"));
            let duration = Math.floor(interval / endValue);
            let counter = setInterval(function () {
                startValue += 1;
                valueDisplay.textContent = startValue;
                if (startValue == endValue) {
                    clearInterval(counter);
                }
            }, duration);
        });
        $(document).ready(function () {
            $('#delayTime').hide().delay(3000).fadeIn('slow');
        });
    </script>
    <!-- <script>
    $(document).ready(function(){
    $('.counter').counterUp({
      delay: 10,
      time: 1200
    });
  }); </script> -->
</body>

</html>
