{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics FAQ's | ezTruck</title>
    <meta name="description"
        content="Here are the answers of all frequently asked questions (Faqs) about logistics services.">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, jobs, career, Construction Material Logistics, E-commerce logistics">
    <link rel="canonical" href="https://eztruck.co/logistics-faq/">
    {%include 'include/linked.html'%}
</head>

<body class="body-wrapper">
    {%include 'include/header.html'%}
    <!-- preloader -->
    <div class="page-banner-wrap bg-cover" style="background-image: url('/static/images/banner/faq-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>FAQ</h1>
            </div>
        </div>
    </div>

    <section class="faq-wrapper section-padding reveal">
        <div class="container">
            <div class="row equal">
                <div class="col-lg-6 col-12">
                    <div class="block-contents mb-20">
                        <div class="section-title">
                            <h5 class="textleft">FAQ</h5>
                            <span>Questions & Answers</span>
                            <h2>may our FAQ<span> help you properly</span></h2>
                        </div>
                    </div>
                    <div class="faq-accordion-2">
                        <div class="accordion no-border" id="accordion">
                            <div class="accordion-item reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                                        What mini trucks to use for shifting goods?
                                    </button>
                                </h4>
                                <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        You can choose a mini truck as per the type and weight of the goods you wish to
                                        transport. Depending on the type of goods, you can decide whether you want to go
                                        for an open body or a closed body mini truck and the weight of goods will help
                                        you decide
                                        which mini truck would be best suitable for the movement job. Following are the
                                        mini trucks available in the market for shifting goods.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item  reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">
                                        How to move furniture around in the city?
                                    </button>
                                </h4>
                                <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        The best way to move furniture around the city is through an online app based
                                        mini truck provider. These service providers are economical, have verified
                                        drivers and gps tracking making them the best option in the current market.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item  reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                        Are my goods secure?
                                    </button>
                                </h4>
                                <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        All our partners go through a background verification process. Also, you can
                                        your our tracking system to track your goods live while they are being
                                        transported.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item  reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                                        How can I track the vehicle?
                                    </button>
                                </h4>
                                <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        The vehicle can be tracked by clicking on the live order in your customer app.
                                        Also, we send you an SMS once a partner is allocated on your order.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-12 mt-5 mt-lg-0  reveal">
                    <div class="investors-inquire-card text-white text-center">
                        <div class="investors-title">
                            <h2>For Investors Inquiry</h2>
                        </div>
                        <div class="investor-img bg-cover"
                            style="background-image: url('/static/images/customer-care-page1.webp')"></div>
                        <div class="investors-data mt-3">
                            <div class="profile-data mb-4">
                                <h4>ezTruck Logistics Pvt. Ltd.</h4>
                                <h6>Customer Care</h6>
                                <p>#60, 1st Floor, Infront of HDFC Bank, District Centre, Chandrasekharpur, Bhubaneswar,
                                    Odisha</p>
                            </div>
                            <div class="investors-contact">
                                <p><i class="fal fa-phone-volume"></i>1800-208-3311</p>
                            </div>
                            <div class="investors-contact">
                                <p><i class="fal fa-envelope"></i> hello@eztruck.co</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-wrapper section-padding bg-overlay bg-cover  reveal"
        style="background-image: url('/static/images/test/cta-bg.jpg')">
        <div class="container">
            <div class="col-lg-8 offset-lg-2 col-12 text-center">
                <div class="cta-contents">
                    <h1 class="text-white mt-5 mb-4" style="color:black;">World’s Leading Contract Logistics Provider
                    </h1>
                    <a href="{%url 'contact'%}" class="theme-btn" target="_blank">make custom request</a>
                </div>
            </div>
        </div>
    </section>
    <section class="faq-wrapper section-padding section-bg  reveal">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="faq-content">
                        <div class="faq-accordion mtm-20">
                            <div class="accordion" id="accordion">
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true"
                                            aria-controls="faq2">
                                            Is there any restriction on material taken by packers and movers?
                                        </button>
                                    </h4>
                                    <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Combustibles such as gasoline, oxygen cylinders, lighter liquids, matches,
                                            propane bottles, nail polish remover, paints, and fireworks are not allowed.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false"
                                            aria-controls="faq1">
                                            What are the modes of payment?
                                        </button>
                                    </h4>
                                    <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Credit or debit card<br> Paytm
                                            <br> Cash
                                            <br> Net Banking<br> UPI
                                            <br> The trip fare is calculated after a trip is ended. There are multiple
                                            ways to pay the fare:<br> ezTruck Wallet: You can deposit money in advance
                                            in ezTruck Wallet and the fare would be automatically deducted
                                            from the available balance. If sufficient balance is not available, the
                                            remaining amount has to be paid in cash.<br>
                                            <strong>Note: We do not offer any credit facility.<br></strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false"
                                            aria-controls="faq3">
                                            Are my goods insured?
                                        </button>
                                    </h4>
                                    <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            We don’t offer freight insurance, but our partners are professional and
                                            well-trained to handle the freight with the utmost care. So you don't have
                                            to worry about the item being damaged.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false"
                                            aria-controls="faq4">
                                            What is the cheapest way to relocate home and office?
                                        </button>
                                    </h4>
                                    <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            ezTruck packers & movers provide complete solutions from packing to loading,
                                            unloading, disassembling, and assembling goods. However, if you're already
                                            packing your goods and ready to do heavy work, you can also book a mini
                                            truck to save money.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false"
                                            aria-controls="faq5">
                                            Do packers and movers dismantle and assemble furniture?
                                        </button>
                                    </h4>
                                    <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Yes, we do complete dismantling & assembly of furniture wherever possible.
                                            Most furniture does not need dismantling but large beds and dining tables
                                            may be dismantled to move safely.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false"
                                            aria-controls="faq6">
                                            Does ezTruck provide labor or helper along with transport for house
                                            shifting?
                                        </button>
                                    </h4>
                                    <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Yes, if required we do provide labor/helpers in the time of shifting. The
                                            Driver partner will help you in the ground to ground floor movement of
                                            goods.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false"
                                            aria-controls="faq7">
                                            What are the different vehicle types and their sizes?
                                        </button>
                                    </h4>
                                    <div id="faq7" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            We support multiple vehicle classes based on the city and its demand. When
                                            you click on Book Now, you will be shown a list of vehicle classes we
                                            support on both web and mobile app. The dimensions (volumetric) and load
                                            (capacity in tonnage) details can
                                            be found along with guidance of what can fit cosy in these vehicles (1 bed,
                                            2 chairs, etc..)
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="false"
                                            aria-controls="faq8">
                                            Do you provide any extra services or accessories for moving?
                                        </button>
                                    </h4>
                                    <div id="faq8" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            We do not provide any additional services besides transportation. We are
                                            always open for service suggestions at hello@eztruck.co Apart from regular
                                            transportation, we provide house shifting option, where we will send a
                                            vehicle as per your need along with
                                            one helper (if required). For rate card and other details please click here
                                            to download our app: Android | IOS
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq9" aria-expanded="false"
                                            aria-controls="faq9">
                                            Who pays the toll, parking and other charges?
                                        </button>
                                    </h4>
                                    <div id="faq9" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Toll Charges : These are included in your trip fare So you don’t have to pay
                                            for these changes at the time of crossing the toll or pay additional money
                                            to the partner. Please note that if a toll falls in your one way trip, then
                                            you may be charged a return
                                            toll as the partner has to pay the same once he is returning from your drop
                                            location. Parking & Other Charges : The customer has to bear these charge
                                            over and above the fare amount. These charges have to be
                                            paid to our partner directly.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq10" aria-expanded="false"
                                            aria-controls="faq10">
                                            What are the goods not allowed to move?
                                        </button>
                                    </h4>
                                    <div id="faq10" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            We avoid moving any construction material, dangerous/ inflammable goods,
                                            chemicals, unpacked fragile items, etc.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq11" aria-expanded="false"
                                            aria-controls="faq11">
                                            What is the process in case of damage/loss/theft of goods?
                                        </button>
                                    </h4>
                                    <div id="faq11" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            If the customer has taken an insurance for his shipment, the customer has to
                                            inform us that he / she wishes to lodge an insurance claim and the next
                                            steps as advised by his Insurer. If required we can help in the survey
                                            process initiated by the Insurer
                                            of the customer. We can provide a Certificate of Facts, which is an
                                            important document for claiming the insurance.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item  reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq12" aria-expanded="false"
                                            aria-controls="faq12">
                                            What are the different vehicle types and their sizes?
                                        </button>
                                    </h4>
                                    <div id="faq12" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">

                                            We support multiple vehicle classes based on the city and its demand. When
                                            you click on Book Now, you will be shown a list of vehicle classes we
                                            support on both web and mobile app. The dimensions (volumetric) and load
                                            (capacity in tonnage) details can
                                            be found along with guidance of what can fit cosy in these vehicles (1 bed,
                                            2 chairs, etc..)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="faq-content">
                        <div class="faq-accordion mtm-20">
                            <div class="accordion" id="accordion">
                                <div class="accordion-item reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq13" aria-expanded="false"
                                            aria-controls="faq13">
                                            Do packers and movers pack everything?
                                        </button>
                                    </h4>
                                    <div id="faq13" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            ezTruck’s Packers and movers service pack everything safely, including
                                            fragile and valuable items. We use bubble wrap, cardboard boxes, packing
                                            tape to safely transport household goods and avoid picking up flammable
                                            goods.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq14" aria-expanded="true" aria-controls="faq14">
                                            Does ezTruck provide Inter-city/intra-city house shifting service?
                                        </button>
                                    </h4>
                                    <div id="faq14" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Yes, we do provide intercity and intracity house shifting services.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq15" aria-expanded="false"
                                            aria-controls="faq15">
                                            How do I find the right architect for my project?
                                        </button>
                                    </h4>
                                    <div id="faq15" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Yes, if required we do provide labor/helpers in the time of shifting. The
                                            Driver partner will help you in the ground to ground floor movement of
                                            goods.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq16" aria-expanded="false"
                                            aria-controls="faq16">
                                            Why do the final charges vary from the estimates?
                                        </button>
                                    </h4>
                                    <div id="faq16" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Prices are subject to change if location or route or final product list
                                            changes. Prices are subject to change due to the complexity of the shifting
                                            process.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq17" aria-expanded="false"
                                            aria-controls="faq17">
                                            Are there any hidden charges?
                                        </button>
                                    </h4>
                                    <div id="faq17" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            No, there are no hidden charges in the quote unless there is a last-minute
                                            change in the requirements.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item reveal">
                                    <h4 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq18" aria-expanded="false"
                                            aria-controls="faq18">
                                            How quickly can I get a vehicle?
                                        </button>
                                    </h4>
                                    <div id="faq18" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            When you download the app and put your current location, you will be shown
                                            the ETA based on the vehicle class selected on the bottom of the screen.
                                            Upon booking an auto dispatch will trigger the order and within 30 seconds,
                                            acceptance from driver partner
                                            will confirm your booking.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq19" aria-expanded="false" aria-controls="faq19">
                                        What are the prices for booking a vehicle?
                                    </button>
                                </h4>
                                <div id="faq19" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        Depending on your need, the vehicles can be booked for hourly, half day or full
                                        day. For more details on the rate card, please click here to download our app:
                                        Android | IOS
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq20" aria-expanded="false" aria-controls="faq20">
                                        E-way bill
                                    </button>
                                </h4>
                                <div id="faq20" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        From 1st April 2018, if the invoice value of goods is more than Rs 50,000, e-way
                                        bill is mandatory for inter-state movement of goods (movement to other states).
                                        For such deliveries, please provide a copy of valid E-way bill and Invoice to
                                        our driver partners
                                        for smooth and hassle-free movement of goods. If consignment value is less than
                                        or equal to Rs 50,000 please provide the partner driver with the copy of
                                        invoice, bill of supply or delivery challan. For more info,
                                        please refer to the faqs on E-way here: E-way FAQs. For more information on how
                                        to generate an E-way bill, please follow the following link Generate E-way bill
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq21" aria-expanded="false" aria-controls="faq21">
                                        Do you provide labour (loading/unloading) services?
                                    </button>
                                </h4>
                                <div id="faq21" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        Yes, ezTruck has driver-helper categories called the Ace-Helper and the Three
                                        Wheeler Helper. If you require additional help in loading and unloading you can
                                        choose a vehicle from the mentioned categories and get the help you need.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq22" aria-expanded="false" aria-controls="faq22">
                                        Does ezTruck provide labor or helper along with transport for house shifting?
                                    </button>
                                </h4>
                                <div id="faq22" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        Yes, if required we do provide labor/helpers in the time of shifting. The Driver
                                        partner will help you in the ground to ground floor movement of goods.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq23" aria-expanded="false" aria-controls="faq23">
                                        Can a customer purchase an insurance on ezTruck’s platform?
                                    </button>
                                </h4>
                                <div id="faq23" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        We do not offer this facility as of now.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item reveal">
                                <h4 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq24" aria-expanded="false" aria-controls="faq24">
                                        In case of damage or theft to the customer’s goods or theft during the trip,
                                        what is the liability from ezTruck’s side?
                                    </button>
                                </h4>
                                <div id="faq24" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        ezTruck does not take any liability for the goods being shipped unless it is
                                        established with a conclusive evidence, that the damage or theft was due to
                                        reckless driving. Only in such cases, after the evidence is shared with us, as
                                        per law, the transporter's
                                        liability is restricted to the lower of: (i) value of goods damaged; and (ii)
                                        ten times the freight amount paid or payable, unless a higher risk rate has been
                                        charged and agreed to be paid by the Customer. We do
                                        not charge a risk rate and our billable rates are purely a factor of utilization
                                        of the vehicle (distance + time) without factoring any of the insurable risks or
                                        the value of goods being transported. We accept the
                                        goods for shipments on said to contain basis. We would recommend to exercise
                                        extreme caution in case of transporting extremely fragile / flammable goods or
                                        goods which are prone to damage while transporting. If
                                        you have any doubts regarding the goods that may be transported on our platform,
                                        please refer to our Terms of service or may kindly get in touch with us on
                                        18002083311
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <footer>
        {%include 'include/footer.html'%}
    </footer>
</body>

</html>