{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://eztruck.co/marketing/">
    <title>Marketing Executive Post</title>
    {%include 'include/linked.html'%}
</head>

<body>
    {%include 'include/header.html'%}
    <div class="page-banner-wrap  bg-cover" style="background-image: url('/static/images/slider/career-banner.jpg')"
        alt="Career in Logistics - ezTruck">
        <div class="container">
            <div class="page-heading text-white">
                <h1 class="banner-heading">We are Innovating the world <br> with our ideas</h1>
                <h2 class="banner-heading">Join With Us!</h2>
            </div>
        </div>
    </div>

    <section class="service-details-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-12">
                    <div class="service-details-contents section-padding2">
                        <div class="contents">

                            <div class="d-flex justify-content-between">
                                <h2> Marketing Executive</h2> <span class="ml-5"><a href="#apply"
                                        class="theme-btn">Apply
                                        Now <i class="fal fa-long-arrow-right"></i></a></span>

                            </div>
                            <P>We are looking for a resilient, empathic business development executive to contribute to
                                the growth of our company. Business development executives are responsible for finding
                                and retaining clients, encouraging extant clients to purchase
                                added products or features, and remaining abreast of changes in consumption. You will
                                also be required to build capacity in staff through regular training and mentorship. To
                                be successful as a business development executive, you
                                should attend networking events with the intention of attracting and retaining
                                clientele. Ultimately, an outstanding business development executive will keep a close
                                eye on clients' feedback to ensure that our products and services
                                always exceed expectations.
                            </P>
                            <div class="row mt-4">
                                <div class="col-12 col-md-12">
                                    <h5>Responsibilities</h5>
                                    <ul class="checked-list mt-1  reveal">
                                        <li> Familiarize yourself with all products and services offered by our company
                                        </li>
                                        <li>Procuring new clients through direct contact, word-of-mouth, and
                                            collaboration with the marketing department..</li>
                                        <li>Attending networking activities to research and connect with prospective
                                            clients</li>
                                        <li> Maintaining meaningful relationships with existing clients to ensure that
                                            they are retained.</li>
                                        <li>Suggesting upgrades or added products and services that may be of interest
                                            to clients.
                                        </li>
                                        <li> Crafting business proposals and contracts to draw in more revenue from
                                            clients.</li>
                                        <li> Negotiating with clients to secure the most attractive prices.</li>
                                        <li> Equipping staff with the technical and social skills needed to enhance
                                            sales.</li>
                                        <li>Reviewing clients' feedback and implementing necessary changes.</li>
                                        <li>ning in tune with trends in consumption to ensure that our offerings remain
                                            relevant.</li>
                                        <li>Ability to generate revenue by identifying pain points and suggesting
                                            suitable products or services.</li>
                                        <li> Professional yet affable disposition.</li>
                                        <li>Neat, well-groomed appearance.</li>
                                        <li> Great networking skills.</li>
                                        <li>Excellent written and verbal communication.</li>
                                        <li> Resourceful, with outstanding research skills.</li>
                                        <li>Emboldened by challenges</li>
                                    </ul>
                                </div>

                                <div class="request-quote-form-wrapper" id="apply">
                                    <h3 class="text-center">Job Application</h3>
                                    <div class="request-quote-form">
                                        <form method="POST" enctype="multipart/form-data">{%csrf_token%}
                                            <div class="row d-flex align-item-center">
                                                <div class="col-sm-6 col-12" class="field">
                                                    <input type="text" name="fname" placeholder="Enter First Name..."
                                                        pattern="^[a-zA-Z\s]{3,20}$" title="Invalid Name. e.g. John"
                                                        required />

                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <input type="text" name="lname" placeholder="Enter Last Name..."
                                                        pattern="^[a-zA-Z\s]{3,20}$" title="Invalid Name. e.g. John"
                                                        required />
                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <input type="email" name="app_email" placeholder="Enter Email..."
                                                        pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                                                        title="Incorrect Email-ID. e.g. john@example.com" required />
                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <input type="number" name="app_phone"
                                                        placeholder="Enter your number..." pattern="[6-9]{1}[0-9]{9}"
                                                        title="Invalid Phone number" required />
                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <input value="Enter Your D-O-B" type="date" id="date" name="dob"
                                                        required />
                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <select name="location" required>
                                                        <option value="">Choose Location</option>
                                                        <option value="Bhubaneswar">Bhubaneswar</option>
                                                        <option value="Cuttack">Cuttack</option>
                                                        <option value="Berhampur">Berhampur</option>
                                                    </select>

                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <select name="position" required>
                                                        <option value="">Select Job Role</option>
                                                        <option value="admin">Admin Manager</option>
                                                        <option value="marketing">Marketing Executive</option>
                                                        <option value="operation">Operation Executive</option>
                                                        <option value="digital">Digital Marketing Intern</option>
                                                        <option value="backend">Backend Developer</option>
                                                        <option value="business">Business Development Executive</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <select name="gender" required>
                                                        <option value="">Gender</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="others">others</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <textarea name="address" cols="30" rows="4"
                                                        placeholder="Enter Address" pattern="^[a-zA-Z]{10,}+$"
                                                        required></textarea>
                                                </div>
                                                <div class="col-sm-6 col-12" class="field">
                                                    <input type="file" id="upload" name="document" required />

                                                </div>
                                                <div class="col-sm-3" class="field">
                                                    <input type="submit" class="theme-btn" value="Apply Now" id="type-applied">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
</body>

</html>