{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://eztruck.co/logistics-updates/">
    <title>ezTruck News</title>
    {%include 'include/linked.html'%}
</head>

<body class="body-wrapper">
    {%include 'include/header.html'%}
    <!-- preloader -->
    <div class="page-banner-wrap  bg-cover" style="background-image: url('/static/images/news/news-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>News</h1>
            </div>
        </div>
    </div>
    <section class="blog-wrapper section-padding">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-md-6 col-12 col-sm-4  reveal">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/symphony-award.jpg')">
                        </div>
                        <div class="content">
                            <h3>India's most Admirable Brand Rising star 2023 by the Brand Story</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 col-sm-4  reveal">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/brand-story.jpg')">
                        </div>
                        <div class="content">
                            <h3>Asian Brand and Leadership Conclave by THE BRAND STORY</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 col-sm-4  reveal">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/eurasian-economic-summit.webp')">
                        </div>
                        <div class="content">
                            <h3>Kali Prasad Rath at Eurasian Economic Summit 2019</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 col-sm-4  reveal ">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/ace-buisness-awards.webp')">
                        </div>
                        <div class="content">
                            <h3>Kali Prasad Rath at Ace Business Awards 2019</h3>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 col-sm-4  reveal ">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/iissm-annual-global.webp')">
                        </div>
                        <div class="content">
                            <h3>Kali Prasad Rath at IISSM Annual Global Conclave 2019</h3>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 col-sm-4 ">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/asian-buisness-leader-award.webp')">
                        </div>
                        <div class="content">
                            <h3>Kali Prasad Rath at Asian Business Leader Award 2019</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">

                <div class="col-xl-4 col-md-6 col-12 col-sm-4 ">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/global-excellence-award.webp')">
                        </div>
                        <div class="content">
                            <h3>Kali Prasad Rath at Global Excellence Award 2019</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 col-sm-4 ">
                    <div class="single-news-box">
                        <div class="featured-thumb bg-cover"
                            style="background-image: url('/static/images/news/blinkwink-india-buisness-award.webp')">
                        </div>
                        <div class="content">
                            <h3>Kali Prasad Rath Blinkwink India Business Award 2019</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
</body>


</html>