{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://eztruck.co/blog/covid-19-affected-supply-chains-and-what-comes-Next/">
    <title> COVID-19 Affect on Supply Chain </title>
    <meta name="description"
        content="Introducing ezTruck, the innovative logistics solution in Bhubaneswar. ezTruck provides the most affordable logistics solutions at a jiffy in Bhubaneswar.">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, Construction Material Logistics, E-commerce logistics">
    {%include 'include/linked.html'%}
</head>

<body>
    {%include 'include/header.html'%}
    <div class="page-banner-wrap bg-cover" style="background-image: url('/static/images/banner/covid-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1 class="banner-heading">Covid-Supply Chain</h1>
            </div>
        </div>
    </div>

    <section class="section-padding2  reveal">
        <div class="container">
            <div class="row text-justify">
                <div class="col-lg-12 col-md-6 col-sm-12 col-12">
                    <h2>How COVID-19 Affected Supply Chains and What Comes Next
                    </h2>
                    <p>
                        After several rounds of nationwide lockdowns, the world has changed a lot since the first case
                        of COVID was detected back in 2019. And we are still struggling to go back to the pre-pandemic
                        era. The pandemic has posed a setback in all major sectors and
                        various supply chain systems. As the virus continues to rapidly infect globally, we saw severe
                        shortages in ventilators, masks, toilet paper, medicine, and many more during the initial phase.
                        This was due to a massive failure in
                        the system of the supply chain – an industry that generally networks the suppliers and consumers
                        operating through five steps that are to plan, source, make, deliver, and return. The purpose of
                        this article is to review how supply
                        chains were disrupted and to predict some of the coming trends in the coming years. To reach a
                        conclusive reason, we have to look at the deep-rooted vulnerabilities in the supply chain
                        system, those that most probably were present
                        even before the outbreak.
                    </p>
                    <h2 class="mt-3 mb-3">Negative Impact of COVID on Supply Chains:
                    </h2>
                    <p>The current adversities have brought out the hidden vulnerabilities in supply chains. The
                        disruption showed the lack of flexibility, agility, and efficiency in businesses. Just as a
                        doctor analyses symptoms to identify the disease,
                        we must look closely at the adverse impacts to find out the vulnerabilities.

                    </p>
                    <h2 class="mt-3 mb-3">Disruption of Supply Chains
                    </h2>
                    <p>COVID pandemic brought out the hidden vulnerabilities in supply chains. According to data from
                        Accenture, 94% of businesses suffer from supply chain disruption, 75% of companies had severe
                        negative impacts from and 55% of businesses
                        have downgraded their growth outlooks.
                    </p>
                    <p>Evolving consumer demands has been a challenge to companies. Companies that were not able to
                        shift to an environment of sustainability and flexibility were out of business. Some companies
                        are still struggling to survive.
                    </p>
                    <p>The steady-state models were a failure, businesses have now devised a plan that is more
                        customer-centric and solves problems in real-time.
                    </p>
                    <h2 class="mt-3 mb-3">Demand Fluctuation and Supply Shortages
                    </h2>
                    <p>The terms ‘demand fluctuation’ and ‘supply shortages’ are not novel. Companies have been tackling
                        these challenges time and again. During COVID, supply shortage and demand fluctuation both
                        played a key role in disruption.
                    </p>
                    <p>1. Demand fluctuation is the rise or decline in demand for the product in consumers or retailers.
                    </p>
                    <p>2. Supply shortages are generally seen when there is a sudden exponential rise in demand from
                        consumers or retailers.
                    </p>
                    <p>Businesses suffered tremendously during the pandemic. These adversities have made businesses
                        realize the importance of agility, flexibility, resilience, and digitalization. Stores are now
                        open to investing in safety stocks to be prepared
                        for the unprecedented rise in demands and shortages.</p>
                    <p>Let’s take the example of facemask shortages that occurred in 2020 during the initial period of
                        the COVID outbreak. Before the outbreak, masks were only meant for healthcare workers. After
                        various countries applied the masking strategy,
                        the demand exceeded the supply. Which leads to a shortage. The graph below indicates the growth
                        in the demand for face masks which eventually lead to supply shortages.</p>

                    <h2 class="mt-3 mb-3">Black marketing was a major problem during COVID</h2>
                    <p>Huge shortages in various products were an opportunity for perpetrators to exploit consumers. As
                        TOI – a leading newspaper conducted a survey that showed the below results.</p>
                    <ul style="list-style-type: circle;padding-left: 10%;">
                        <li>1. Patients affected by the Corona Virus had to pay 500% more than the usual amount</li>
                        <li>2. Hospital beds were sold at 200% higher rates</li>
                        <li>3. COVID related medicines were charged more than MRP</li>
                        <li>4. Oxygen concentrators, Oxygen cylinders, and refills were sold at higher prices than
                            normal.
                        </li>
                    </ul>
                    <h2 class="mt-3 mb-3">What Comes Next?
                    </h2>
                    <p>Businesses will not be going back to the strategies of the pre-COVID era since creating evolved
                        and more efficient strategies remains their primary focus. In 2020, we’ll witness business
                        trends such as agility, sustainability, and
                        customer-driven strategies.</p>
                    <h3 class="mt-3 mb-3">1. The Businesses and Supply Chains Will Adapt to Digita Platforms</h3>
                    <p>There will be a rise in e-commerce in the year ahead. Businesses will focus on developing their
                        presence in digital platforms to enhance their visibility and flexibility. Digital presence not
                        only means using digital platforms to drive
                        in customers but also staying connected with the suppliers
                        Digitalization also helps businesses to understand their customer’s expectations as well as keep
                        them connected with the latest trends and demands.</p>
                    <h3 class="mt-3 mb-3">2. People First Strategies Will Become a Priority</h3>
                    <p>People-first business strategy requires regular upskilling to keep up with the evolving demands
                        of the customers. Customer satisfaction plays a key role in distinguishing a business from the
                        rest. This strategy indicates efficiency
                        and flexibility. Thus, 2022 will witness companies going the extra mile to meet customer
                        expectations.</p>
                    <h3 class="mt-3 mb-3">3. Resilience and Flexibility</h3>
                    <p>“An unsatisfied customer won’t return”.</p>
                    <p>The last two years of the pandemic have taught businesses the importance of resilience. As a
                        reason, we will see supply chains focusing on increasing their capabilities in mitigating
                        adverse situations. Strategies such as a well-connected
                        network will be a driving force.</p>
                    <p>To boost the capabilities, businesses will adopt ‘stress tests’ to prepare themselves for an
                        unprecedented event.</p>
                    <h3 class="mt-3 mb-3">4. Keeping Safety Stocks</h3>
                    <p>Learning from the COVID adversities, businesses will invest in keeping a safety stock to fight
                        supply shortages. In 2020, we saw a sudden shortage in everything, even when the shelves on the
                        stores were a bundant with supplies. The
                        global supply chain was disrupted due to long, nationwide lockdowns. Keeping safety stocks is a
                        solution to these sudden shortages.</p>
                    <h3 class="mt-3 mb-3">5. Enhanced Visibility</h3>
                    <p>Visibility will act as a catalyst for growing businesses. As customers climb the ladder of
                        awareness, it is therefore in the best interest of the company to be as transparent as possible.
                        This can be achieved through an online presence.
                        Online presence also helps the business in diving into new markets.
                    </p>
                    <h3 class="mt-3 mb-3">6. Last-Mile Solutions</h3>
                    <p>Smart solutions to last-mile problems can be achieved through the usage of any digital device
                        that helps simplify the last–mile problem. Optimized routes can be selected through modern GPS
                        services. Shipment tracking is another attractive
                        feature for the consumer. Through the implication of customer-centric feedback systems, unique
                        solutions to various last-mile problems can be achieved.
                    </p>
                    <h2 class="mt-3 mb-3">An Outlook on the Future of Supply Chains</h2>
                    <p>After having witnessed the tragedies of COVID, the future of the supply chain will be based on a
                        more localized network of suppliers which will eliminate single-source dependency. The countries
                        that had been depending on other countries
                        such as China and India for manufacturing for cheaper labor will start manufacturing in their
                        own countries. In terms of logistics, a comparison can be made in manufacturing in India and
                        China. China has emerged to be the global
                        hub for manufacturing. From a logistics perspective, China holds an advantage over the latter.
                        Paved roads, railways, waterways, and airways are better in China. On the other hand, India,
                        though has cheap labor costs, it takes
                        more time in delivering goods. Since we are focusing on manufacturing processes, let’s take a
                        look at the manufacturing culture in the two countries. China is keen to deliver a large number
                        of goods on tight schedules whereas India
                        is more focused on manufacturing in small quantities. As a global competitor, China is at an
                        advantage.
                        As companies are now prioritizing building a strong local supply chain network to stay protected
                        against future shocks, several of them have shifted their manufacturing to other Asian countries
                        like Vietnam. Labor costs are
                        no longer cheap in China, but the country is compensating with its advanced technology system.
                        As the digitalization of supply chains is rapidly booming, China has adapted to this new trend
                        firmly. Even though a few companies
                        have downsized by pulling out from China, the future of supply chain and logistics is in China.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
</body>

</html>