{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://eztruck.co/term-conditions/">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Term and Conditions | ezTruck</title>
    <meta name="description"
        content="If you continue to browse and use our app or website, you are agreeing to comply with and be bound by the following terms and conditions of services in logistics, which together with our privacy policy govern ezTruck Logistics Private Limited’s">
    <meta name="keywords"
        content="logistics company bhubaneswar, Mini truck Booking Services, Online Truck Booking Services, Packers Movers Services, Enterprise Logistics Solutions, Mining Logistics Odisha, Construction Material Logistics, E-commerce logistics">

    {%include 'include/linked.html'%}
    <style>
        /* Put the CSS Style Here */

        .paragraph {
            text-align: justify;
        }
    </style>
</head>

<body class="body-wrapper">
    {%include 'include/header.html'%}
    <!-- preloader -->
    <div class="page-banner-wrap  bg-cover" style="background-image: url('/static/images/banner/terms-conditions.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Terms & Conditions</h1>
            </div>
        </div>
    </div>


    <section class="faq-wrapper section-padding2  reveal">
        <div class="container">
            <div class="row" style="align-items: justify;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p> Welcome to ezTruck. If you continue to browse and use our app or website, you are agreeing to
                        comply with and be bound
                        by the following terms and conditions of services in logistics, which together with our privacy
                        policy govern ezTruck
                        Logistics Private Limited’s (the owner of ezTruck) relationship with you in relation to this app
                        or website and the
                        Service (as described below). In the event, there is a convention.</p>

                    <h3 class="terms_headings">Definitions</h3>
                    <p class="paragraph">The following definitions apply to the terms and conditions set out below that
                        govern this contract of Carriage between
                        you and us: "We", "us", "our", "Carrier" and "ezTruck" shall refer to ezTruck Logistics Pvt.
                        Ltd. (owner of ezTruck),
                        its employees, authorised agents, and independent contractors, and the entities that carry or
                        undertake to carry the
                        consignment hereunder or perform any other services incidental thereto on its behalf. "You",
                        "your" and "consignor"
                        shall refer to the sender, consignor, or consignee of the Consignment, the holder of this
                        Consignment Note, the receiver
                        and owner of the contents of the consignment, or any other party having a legal interest in
                        those contents, as the case
                        may be. "Carriage" means and includes the whole of the operations and services undertaken by us
                        in connection with the
                        Consignment. "Consignment" means any package, parcel, satchel, or freight that is or is given to
                        and accepted by us for
                        carriage under our Consignment Note. "Delivery" means the tender of the consignment to the
                        consignee or an intimation
                        about the arrival of the consignment. "Prohibited Items" means any goods or materials, the
                        Carriage of which is
                        prohibited by Applicable Law. "Receiver" or "Consignee" shall refer to the recipient, addressee,
                        or consignee of the
                        Consignment. "Consignment" means any package, parcel, sachet, or freight that is or is given to
                        and accepted by us for
                        carriage under our Consignment Note. "Dangerous Goods" means goods classified as dangerous as
                        per ICAO T.I., IATA DGR,
                        IMDG-Code, ADR, or other national regulations for transport. "Delivery" means the tender of the
                        consignment to the
                        consignee or an intimation about the arrival of the consignment. "Prohibited Items" means any
                        goods or materials, the
                        Carriage of which is prohibited by Applicable Law. "Receiver" or "Consignee" shall refer to the
                        recipient, addressee, or
                        consignee of the Consignment. "Applicable Law" means all laws, statutes, ordinances,
                        regulations, guidelines, policies,
                        rules, bye-laws, notifications, directions, directives, and orders or other governmental
                        restrictions or any similar
                        form of decision of, or determination by, or any interpretation, administration, and other
                        pronouncements having the
                        effect of law of the Republic of India or any other applicable jurisdiction by state,
                        municipality, court, tribunal,
                        government, ministry, department, commission, arbitrator, board, or such other body which has
                        the force of law in India.
                    <p>
                    <h3 class="terms_headings">User(s) eligibility</h3>
                    <p class="paragraph">User(s) means any individual or business entity or organisation that legally
                        operates in India or in other countries and
                        uses and has the right to use the services provided by ezTruck. The Services provided by ezTruck
                        are a technology-based
                        service that enables the hiring of mini-trucks by customers for a point-to-point service or for
                        a time- and usage-based
                        service within city limits and outside city limits, including inter-city all over India, through
                        the internet and/or
                        mobile telecommunications devices. Our Services are available only to those individuals or
                        companies that can form
                        legally binding contracts under the Applicable Law. Therefore, the user(s) must not be a minor
                        as per Applicable law,
                        i.e., the user(s) must be at least 18 years of age to be eligible to use our Services. ezTruck
                        advises its users that
                        while accessing the web site, they must follow or abide by the related laws. ezTruck is not
                        responsible for the possible
                        consequences caused by your behaviour during the use of the web site. ezTruck may, in its sole
                        discretion, refuse the
                        service to anyone at any time.</p>
                    <h3 class="terms_headings">user(s) agreement</h3>
                    <p class="paragraph">This agreement applies to user(s) if they are visitors, registered (free or
                        paid) users who access the web site for any
                        purpose. It also applies to any legal entity that may be represented by you under actual or
                        apparent authority. The
                        user(s) may use this site solely for their own personal or internal purposes. This agreement
                        applies to all ezTruck
                        Services offered on the web site, collectively with any additional terms and conditions that may
                        be applicable to the
                        specific service used or accessed by the user(s). In the event of a conflict or inconsistency
                        between any provision of
                        the terms and conditions mentioned herein and those of the particular service, the provisions of
                        the terms and
                        conditions applicable to such specific Services shall prevail.
                    </p>
                    <h3 class="terms_headings">Amendment to user(s) agreement</h3>
                    <p class="paragraph">ezTruck may change, modify, amend, or update this agreement from time to time
                        without any prior notification to the
                        user(s), and the amended and restated terms and conditions of use shall be effective immediately
                        upon posting. If you do
                        not adhere to the changes, you must stop using the service. Your continued use of the Services
                        will signify your
                        acceptance of the changed terms. The user(s) shall also be bound by any amendment made to any
                        policy or agreement from
                        time to time, as referred to in these Terms of Service.</p>

                    <h3 class="terms_headings">Intellectual Property Rights</h3>
                    <p class="paragraph">ezTruck is the sole owner or lawful licensee of all the rights to the web site
                        and its content. Web site content means
                        its design, layout, text, images, graphics, sound, video, etc. The web site's content embodies
                        trade secrets and
                        intellectual property rights protected under worldwide copyright and other laws. All title,
                        ownership, and intellectual
                        property rights in the web site and its content shall remain with ezTruck, its affiliates, or
                        the licensors of ezTruck
                        content, as the case may be. All rights not otherwise claimed under this agreement or by
                        ezTruck.in are hereby reserved.
                        The information contained in this web site is intended solely to provide general information for
                        the personal use of the
                        reader, who accepts full responsibility for its use. ezTruck does not represent or endorse the
                        accuracy or reliability
                        of any information or advertisements (collectively, the "content") contained on, distributed
                        through, linked,
                        downloaded, or accessed from any of the Services contained on this web site, or the quality of
                        any products,
                        information, or other materials displayed or obtained by you as a result of an advertisement or
                        any other information or
                        offer in or in connection with the Service. We accept no responsibility for any errors or
                        omissions or for the results
                        obtained from the use of this information. All information on this web site is provided "AS IS,"
                        with no guarantee of
                        completeness, accuracy, timeliness, or the results obtained from the use of this information,
                        and without warranty of
                        any kind, express or implied, including, but not limited to, warranties of performance,
                        merchantability, and fitness for
                        a particular purpose. Nothing herein shall, to any extent, substitute for the independent
                        investigations and the sound
                        technical and business judgement of the user(s). In no event shall ezTruck be liable for any
                        direct, indirect,
                        incidental, punitive, or consequential damages of any kind whatsoever with respect to the
                        Service. The user(s) of this
                        site must hereby acknowledge that any reliance upon any content is at their sole risk. ezTruck
                        reserves the right, in
                        its sole discretion and without any obligation, to make improvements to or correct any error or
                        omission in any portion
                        of the Service or the app or website.
                    <p>
                    <h3 class="terms_headings">Trademark</h3>
                    <p class="paragraph">All related icons and logos are registered trademarks or service marks of
                        ezTruck in various jurisdictions and are
                        protected under applicable copyright, trademark, and other proprietary rights laws. The
                        unauthorised copying,
                        modification, use, or publication of these marks is strictly prohibited.</p>

                    <h3 class="terms_headings">Copyright</h3>
                    <p class="paragraph">All content on this web site is the copyright of ezTruck except for third-party
                        content and links to third-party web
                        sites on our app or website. Systematic retrieval of ezTruck content to create or compile,
                        directly or indirectly, a
                        collection, compilation, database, or directory (whether through robots, spiders, automatic
                        devices, or manual
                        processes) without written permission from ezTruck is prohibited. In addition, use of the
                        content for any purpose not
                        expressly permitted in this Agreement is prohibited and may invite legal action. As a condition
                        of your access to and
                        use of ezTruck's Services, you agree that you will not use the web site service to infringe the
                        intellectual property
                        rights of others in any way. ezTruck reserves the right to terminate the account of a user(s)
                        upon any infringement of
                        the rights of others in conjunction with use of the ezTruck service, if ezTruck believes that
                        the user(s) conduct is
                        harmful to the interests of ezTruck, its affiliates, or other users, or for any other reason in
                        ezTruck's sole
                        discretion, with or without cause. You shall be liable to indemnify ezTruck for any losses or
                        expenses incurred by
                        ezTruck due to any infringement of intellectual property rights owned by ezTruck without
                        prejudicing ezTruck’s right to
                        bring any legal action against you.</p>

                    <h3 class="terms_headings">Links To Third Party Site</h3>
                    <p class="paragraph">Links to third-party sites are provided by the web site as a convenience to the
                        user(s), and ezTruck has no control over
                        such sites, i.e., the content and resources provided by them. ezTruck may allow user(s) access
                        to content, products, or
                        Services offered by third parties through hyperlinks (in the form of word links, banners,
                        channels, or otherwise) to
                        such Third Party's web site. You are cautioned to read such sites' terms and conditions and/or
                        privacy policies before
                        using them in order to be aware of the terms and conditions of your use of them. ezTruck
                        believes that the user(s)
                        acknowledge that ezTruck has no control over such a third party's site, does not monitor such
                        sites, and shall not be
                        responsible or liable to anyone for such a third party site or any content, products, or
                        Services made available on such
                        a site. The user(s) shall review ezTruck’s Privacy Policy and abide by it at the time of their
                        interaction with ezTruck
                        with respect to and concerning any information and data.</p>

                    <h3 class="terms_headings">Termination</h3>
                    <p class="paragraph">Most of the content and some of the features on the web site are made available
                        to visitors free of charge. However,
                        ezTruck reserves the right to terminate access to certain areas or features of the web site at
                        any time for any reason,
                        with or without notice. ezTruck also reserves the universal right to deny access to particular
                        users to any or all of
                        its Services without any prior notice or explanation in order to protect the interests of
                        ezTruck and/or other visitors
                        to the web site. ezTruck reserves the right to limit, deny, or create different access to the
                        web site and its features
                        with respect to different users, or to change any of the features or introduce new features
                        without prior notice.</p>

                    <h3 class="terms_headings">Terms & Conditions</h3>
                    <p class="paragraph">The following Terms and Conditions shall apply to customers utilising the
                        Services offered by the Company for the hiring
                        of mini-trucks: The customer shall pay the fare (as agreed), parking charges, an additional
                        night surcharge (where
                        applicable), and any fee or levy presently payable or hereinafter imposed by the Applicable Law
                        or required to be paid
                        for availing of the mini-truck Services. The customer agrees and accepts that the use of the
                        Services provided by the
                        Company is at the sole risk of the customer and further acknowledges that the Company disclaims
                        all representations and
                        warranties of any kind, whether express or implied. The customer shall ensure that he or she
                        will not indulge in any of
                        the following activities while availing of the service: Soiling or damaging the body and/or any
                        other interiors of the
                        mini-truck Misusing, soiling, or damaging any of the devices (technical or non-technical) in the
                        truck Asking the driver
                        to break any traffic, RTO, city police, and/or government rules for any purpose. The driver has
                        the right to refuse such
                        a request by the customer. The driver also has the right to refuse such a pick-up. Pressuring
                        the driver to overload the
                        truck with more cargo than the allowed limit The Customer shall indemnify the Company from and
                        against and in respect of
                        any or all liabilities, losses, charges, and expenses (including legal fees and costs on a full
                        indemnity basis),
                        claims, demands, actions, and proceedings which the Company may incur or sustain directly or
                        indirectly from or by any
                        reason of or in relation to the use or proposed use of the Services by the Customer, and shall
                        pay such sums on demand
                        to the Company. The Company is hereby authorised to use the location-based information provided
                        by any of the
                        telecommunication companies when the Customer uses the mobile phone to make a mini-truck
                        booking. The location-based
                        information will be used only to facilitate and improve the probability of locating a mini-truck
                        for the Customer. The
                        Company shall be entitled to disclose to all companies within its group or any government body
                        as so required by the
                        Applicable Law or by directive or request from any government body, the particulars of the
                        Customer in the possession of
                        the Company in any way as the Company, in its absolute discretion, deems fit or if it considers
                        it in its interests to
                        do so. The Company shall be entitled at any time without giving any reason to terminate the
                        booking of the truck done by
                        the Customer. User(s) shall indemnify ezTruck with respect to any expenses incurred with respect
                        to such booking. In
                        case of lost items inside the Company during the journey, the company will try to locate the
                        items on a "best-effort"
                        basis but is not responsible for the same in case of loss or damage to the same. ezTruck
                        aggregates its vehicles for the
                        purposes of providing services. In the event of the loss of any item, the user(s) shall not have
                        any right to withhold
                        the payment to be made towards ezTruck. Further, in the event any payments from the User to
                        ezTruck are pending for the
                        period prescribed by ezTruck in its respective invoice, ezTruck reserves the right to exercise a
                        particular lien over
                        the consignment until full payment is made to ezTruck for its services. Additionally, the
                        user(s) will be liable to
                        indemnify ezTruck against any loss, damage, or expenses incurred by us due to the custody of the
                        consignment during this
                        period. For any complaint in respect of the Services or the use of the mini-truck, the Customer
                        has to inform the
                        company of the same in writing within 24 hours of using the mini-truck or the Services of the
                        company. The Company shall
                        not be liable for the conduct of the drivers of the mini-trucks. However, the Company encourages
                        you to notify it of any
                        complaints that you may have against the driver that you may have hired using the Company's
                        Services. The Company shall
                        be entitled to add to, vary, or amend any or all of these terms and conditions at any time, and
                        the Customer shall be
                        bound by such addition, variation, or amendment once such addition, variation, or amendment is
                        incorporated into these
                        terms and conditions at the Company's website at www.ezTruck.in on the date that the Company may
                        indicate that such
                        addition, variation, or amendment is to come into effect. All the calls made to the Company's
                        call centre are recorded
                        by the Company for quality and training purposes. In the event You place a query on our app or
                        website, including a
                        query with respect to our Services, applicable fees, or terms of Service, you expressly agree to
                        consent to receive our
                        responses, whether by way of telephone calls or electronic mail, to such query and all related
                        information with respect
                        to our Services. For the removal of doubts, related information shall include, without
                        limitation, any marketing and/or
                        commercial information. You understand and agree that such information shall in no event qualify
                        as unsolicited
                        commercial communication under the Telecom Unsolicited Commercial Communications Regulations,
                        2007 and/or that, due to
                        the disclosure of such information, our telephone numbers shall not qualify to be registered
                        under the 'National Do Not
                        Call Register' or the 'Private Do Not Call Register' in accordance with the Telecom Unsolicited
                        Commercial
                        Communications Regulations, 2007 or any other Applicable Law.</p>

                    <h3 class="terms_headings">Cancellation Policy:</h3>
                    <p class="paragraph">All cancellations made 5 minutes after driver allocation will incur a
                        cancellation fee of Rs. 50. Cancelling four
                        bookings in a day after driver allocation will temporarily suspend your account for 24 hours.
                        Figures are subject to
                        change. Toll Charges: In the event of a toll on your trip, the return toll fare will be charged.
                    </p>

                    <h3 class="terms_headings"> Confidentiality</h3>
                    <p class="paragraph">The user(s) shall not disclose any information received under the contract of
                        service with ezTruck to any third party.
                        Access to any information that pertains to the business of ezTruck shall be kept confidential to
                        the extent it might
                        adversely impact ezTruck’s business. The user(s) shall be liable to indemnify ezTruck against
                        any loss of business or
                        reputation due to the act of the user(s). You acknowledge that the labour Service is provided
                        only for ground-to-ground
                        loading and unloading. You acknowledge that the ground floor movement (distance between the
                        transport vehicle and the
                        loading or unloading point) shall not exceed 25 metres. You acknowledge that the extra charges
                        (as visible in the
                        Invoice) for the labour Service shall be payable by you. You agree that you will be present in
                        person at the time of
                        loading or unloading the Consignment. If you are not available, an authorised representative
                        must be present. You agree
                        that ezTruck shall not be liable for the misbehaviour of the labourers during the loading and
                        unloading. However, you
                        are requested to bring such incidents to the attention of the company. The Company, in its sole
                        discretion, may take
                        action in such matters.</p>

                    <h3 class="terms_headings"> Disclaimer</h3>
                    <p class="paragraph">All vehicles registered with the Company are continuously tracked using mobile
                        technology
                        for security reasons only. It is expressly made clear to you hereby that the Company does
                        not own any mini-truck nor does it directly or indirectly employ any drivers for the
                        vehicle. Mini-trucks and drivers are all supplied by third parties and the Company disclaims
                        any and all liability in respect of the drivers and the mini-trucks alike.
                        The Company have right to use the customer contact information for its own marketing
                        purposes. The Company may send regular SMS updates to the mobile numbers registered with it.
                    <p>
                    <h3 class="terms_headings">Ace Plus Terms And Conditions</h3>
                    <p class="paragraph">The following Terms and Conditions shall apply to customers utilising the
                        Services offered by the Company for the hiring
                        of Ace Plus: The Company has the right to use the customer's contact information for its own
                        marketing purposes. The
                        Company may send regular SMS updates to the mobile numbers registered with it.</p>

                    <p class="paragraph">The following Terms and Conditions shall apply to customers utilising the
                        Services offered by the Company for the hiring
                        of Ace Plus: Only ground floor-to-ground floor loading and unloading is allowed. The distance
                        between the ezTruck truck
                        and the loading or unloading point should not be more than 25 feet (8 metres). The maximum
                        weight per box allowed is 25
                        kg, and up to 30 such boxes or cartons are allowed. A labour charge will be automatically added
                        to the invoice.</p>
                    <h3 class="terms_headings">Your Aceeptance Of Our Terms And Conditions</h3>
                    <p class="paragraph">By giving us your consignment, you accept our terms and conditions set out in
                        the consignment note and/or the contract
                        of carriage and/or the contract for the performance of other services on behalf of yourself
                        and/or anyone else who has
                        an interest in the consignment or the performance of other services, irrespective of whether you
                        have signed the front
                        of our consignment note or not. Our terms and conditions also cover and can be invoked by anyone
                        we use or subcontract
                        to collect, transport, deliver, or perform other services, as well as our employees, directors,
                        and agents. Only one of
                        our authorised officers may agree to a variation of these terms and conditions in writing. When
                        you give us the
                        consignment with oral or written instructions that conflict with our terms and conditions, we
                        shall not be bound by such
                        instructions.
                    <p>
                    <h3 class="terms_headings">Your Obligations</h3>
                    <p class="paragraph">You warrant, undertake, and guarantee to us that the contents of the
                        consignment (including but not limited to weight
                        and number of items) have been properly described on our consignment note, that the Consignment
                        Note is complete in all
                        respects, and that the documents as required for transporting the consignment, including the
                        invoice and permits, are
                        enclosed with the Consignment Note. That the contents of the Consignment are not Prohibited
                        Items and/or are not
                        restricted by the applicable regulations, and that you will supply to us any Dangerous Goods
                        declaration that is needed,
                        properly and accurately, in accordance with Applicable law, and that neither you nor the
                        consignee is a person or
                        organisation with whom we or you may not legally trade under Applicable Law. That all
                        statements, information, and
                        documents provided by you relating to the Consignment will be true and correct, and you
                        acknowledge that in the event
                        that you make an untrue or fraudulent statement about the Consignment or any of its contents,
                        you would risk a civil
                        claim and/or criminal prosecution, the penalties for which may include forfeiture and sale. You
                        agree to indemnify us
                        and hold us harmless from any claims that may be brought against us or our agents arising from
                        the information provided
                        by you. We are authorised to deliver the goods at the address mentioned on the Consignment note,
                        and without prejudice
                        to the foregoing, it is expressly agreed that we shall be conclusively presumed to have
                        delivered the goods in
                        accordance with this contract. We will be sending the delivery confirmation by SMS or email; no
                        response within 24 hours
                        would be considered an affirmative to the delivery. You have declared the correct weight of the
                        consignment, and you
                        will provide any special equipment we may need to load or unload the consignment on or off our
                        vehicles. When you have
                        asked us to charge the receiver or a third party and the receiver or third party does not pay
                        us, you will promptly
                        settle our invoice together with an administration fee in full within 7 days of us sending you
                        the invoice. Applicable
                        Law has been complied with by you. You understand, agree, and acknowledge that the Services are
                        not suitable for the
                        transportation of valuables like cash, gold, silver, diamonds, precious stones, jewels or
                        jewellery, expensive luxury
                        items, etc. ("Valuables"). If you handover or load the vehicles with Valuables for
                        transportation, any loss, damage,
                        theft, or misappropriation to or of the consignment shall be at your risk and not ours. For the
                        reasons mentioned
                        earlier and without prejudice, we shall not only have the right to explicitly and specifically
                        disclaim any liability
                        and/or responsibility arising from or accruing from the damage, loss, theft, or misappropriation
                        to or of the
                        consignment or any contents of the consignment, but also the right to claim indemnification from
                        you where we have
                        suffered a loss of reputation or goodwill due to your actions of breaching our terms of service.
                        You understand, agree,
                        and acknowledge that if the consignment or any contents thereof are of a value exceeding INR
                        25,000/- (Indian Rupees
                        Twenty-Five Thousand only), you shall get the consignment insured from a General Insurance
                        company operating in India
                        before handing over the consignment for transportation. In the absence of adequate insurance to
                        cover loss of goods in
                        transit or in the absence of wrong or non-declaration of the consignment details or value, and
                        whether insured or not,
                        the transportation of the consignment shall be entirely at your risk and not ours, and we
                        explicitly and specifically
                        disclaim any liability and/or responsibility arising from or accruing from the damage, loss,
                        theft, misappropriation, or
                        any insurable loss to or of the consignment or any contents of the consignment, and you further
                        agree to indemnify us in
                        all those cases where we have suffered loss of reputation or goodwill due to your actions of
                        breaching our terms of
                        service. You agree to indemnify us and hold us harmless from any liabilities we may suffer or
                        any costs, damages, or
                        expenses, including legal costs, we incur either to you or to anyone else arising out of your
                        being in breach of any of
                        these warranties, representations, and guarantees, even if we inadvertently accept a consignment
                        that contravenes any of
                        your obligations. You certify that all statements and information you provide relating to the
                        transportation of the
                        consignment will be true and correct. You acknowledge that in the event that you make untrue or
                        fraudulent statements
                        about the consignment or any of its contents, you risk a civil claim and/or criminal
                        prosecution, the penalties for
                        which include forfeiture and sale of your consignment. To the extent that we may voluntarily
                        assist you in completing
                        the required customs and other formalities, such assistance will be rendered at your sole risk.
                        You agree to indemnify
                        us and hold us harmless from any claims that may be brought against us arising from the
                        information you provide to us
                        and any costs we will incur regarding this, and to pay any administration fee we may charge you
                        for providing the
                        Services described in this condition. The customer agrees and acknowledges that the use of the
                        Services offered by the
                        company is at the sole risk of the customer and that the company disclaims all representations
                        and warranties of any
                        kind, whether express or implied, as to condition, suitability, quality, merchantability, and
                        fitness for any purposes,
                        to the fullest extent permitted by Applicable Law. Without prejudice to the above, the Company
                        makes no representations
                        or warranties with respect to The Services meeting the customer's requirements. The Services
                        will be uninterrupted,
                        timely, secure, or error-free. Any responsibility or liability for any loss or damage, howsoever
                        caused or suffered by
                        the customer, arising out of the use of Services offered by the company or due to the failure of
                        the company to provide
                        services to the customer for any reason whatsoever, including but not limited to the Customer's
                        non-compliance with the
                        Services' recorded voice instructions, malfunction, partial or total failure of any network
                        terminal, data processing
                        system, computer tele-transmission, or telecommunications system, or other circumstances whether
                        or not beyond the
                        control of the company or any person or any organisation involved in the above mentioned
                        systems. Any liability for any
                        damages of any kind arising from the use of the Service offered by the Company, including but
                        not limited to direct,
                        indirect, incidental, punitive, and consequential damages. Any additional or extra charges for
                        far-off locations and
                        toll charges as well. Any additional or extra charges for far-off locations and toll charges as
                        well. The applicable law
                        has been complied with by you. Circumstances beyond our control, such as (but not limited to):
                        Acts of God, including
                        earthquakes, cyclones, storms, flooding, fire, disease, fog, snow, or frost, or other natural
                        calamities or disasters
                        Force majeure includes (but is not limited to) war, epidemics, pandemics, accidents, acts of
                        public enemies, strikes,
                        embargoes, perils of the air, local disputes, or civil commotions. National or local disruptions
                        in air or ground
                        transportation networks and mechanical problems with modes of transport or machinery Latent
                        defects or inherent vices in
                        the contents of the consignment Criminal acts of third parties, such as theft and arson. Your
                        acts or omissions or those
                        of third parties, such as: You being in breach of (or any other party claiming an interest in
                        the consignment causing
                        you to breach) your obligations under these terms and conditions The contents of the consignment
                        consisting of any
                        article that is a prohibited item / Dangerous Goods / Valuables even though we may have accepted
                        the consignment by
                        mistake or you have willingly handed it over to us without notifying / informing / declaring to
                        us.</p>
                    <h3 class="terms_headings"> Dangerous Goods / Security</h3>
                    <p class="paragraph">Dangerous Goods We do not carry, nor perform other Services regarding, goods
                        that are, in our sole opinion, Dangerous
                        goods, including, but not limited to, those specified in the regulations, guidelines, technical
                        instructions, and codes
                        applicable to us and our business, or to the transport of, or the performance of other Services
                        regarding, Dangerous
                        Goods. We may, at our discretion, accept some Dangerous Goods for carriage or for the
                        performance of other services in
                        some locations if you have been accorded the status of an approved customer, and this must be
                        given by us in writing
                        before your consignment can be accepted. Your Dangerous Goods will only be accepted if they
                        comply with the applicable
                        regulations and our requirements. Details of our requirements, together with the procedure for
                        applying for approved
                        customer status, are available from our nearest office, and a dangerous goods surcharge will be
                        invoiced to you upon
                        acceptance of your consignment. Prohibited Items: We do not accept consignments that contain
                        prohibited items. We accept
                        consignments only upon your declaration of the type and value of the consignment ("said to
                        contain" basis). We have no
                        responsibility whatsoever as to the correctness of description, type, or value thereof, and you
                        agree to indemnify us
                        and hold us harmless from any claims that may be brought against us arising out of or relating
                        to such declaration
                        provided by you and any costs we will incur relating thereto.</p>
                    <h3 class="terms_headings"> Rejected Consignment</h3>
                    <p class="paragraph">If the receiver refuses to accept delivery, we will try to contact you and
                        agree to the next action if it is
                        appropriate. You agree to pay us any costs we incur in forwarding, disposing of, or returning
                        the consignment and our
                        charges (if any) for the agreed-upon appropriate next action. If user(s) terminate the agreement
                        with ezTruck with
                        respect to any consignment, user(s) shall be liable to pay ezTruck the entire fees and other
                        expenses so incurred with
                        respect to such consignment.</p>
                    <h3 class="terms_headings"> Claims Brought By Third Parties</h3>
                    <p class="paragraph">You undertake to us that you shall not permit any other person who has an
                        interest in the consignment to bring a claim
                        or action against us arising out of carriage, even though we may have been negligent or in
                        default, and if a claim or
                        action is made, you will indemnify us against the consequences of the claim or action and the
                        costs and expenses we
                        incur in defending it. The above-mentioned terms and conditions of use and/or Agreement and the
                        Privacy Policy
                        constitute the entire agreement between the User(s) and ezTruck with respect to access to and
                        use of the web site and
                        the Services offered by ezTruck, superseding any prior written or oral agreements in relation to
                        the same subject matter
                        herein.</p>

                    <h3 class="terms_headings">cashback Schemes</h3>

                    <p class="paragraph">Please find all cashback-related terms and conditions here. ASSURED BOOKING
                        TERMS: Only the users who have received the
                        communication are eligible under this scheme. This scheme is eligible for Tata Ace open category
                        bookings between 10:30
                        and 19:00 Hours only. This scheme is eligible when the pickup location is from Perambur,
                        Choolai, Vyasarpadi,
                        Purshwalkam, Ayanavram, and Kilpauk clusters in Chennai only. Each user will only be eligible
                        once a day for this
                        scheme, i.e., a user will be eligible for a maximum of Rs 50/- (Rupees Fifty only) cashback in a
                        day in case of an
                        unfulfilled booking. The cashback will be automatically credited to the user's account within 24
                        hours of an unfulfilled
                        booking. Management's decision will be considered final with regard to all aspects of the
                        scheme. GST: GST, as
                        applicable, will be levied on the Invoice. Any information shall be considered only
                        prospectively. Under no
                        circumstances will invoices be revised retrospectively for a delay in providing GST registration
                        information. Taxes on
                        the reverse charge mechanism, wherever applicable, shall have to be paid by the recipient of
                        services.</p>
                    <h3 class="terms_headings">Governing Law And Jurisdiction</h3>
                    <p class="paragraph">These Terms of Service shall be governed by and construed in accordance with
                        the laws of the
                        India, without regard to the principles of conflict of laws. The courts of [Bengaluru] shall
                        have exclusive jurisdiction over any disputes, differences or claims arising out of or in
                        connection with these Terms of Service or any Services provided by us pursuant to these
                        Terms of Service
                    <p>
                    <h3 class="terms_headings"> Disclaimer</h3>
                    <p class="paragraph">The information contained in this website and ezTruck App is for general
                        information
                        purposes only. The information is provided by ezTruck and while we endeavor to keep the
                        information up to date and correct, we make no representations or warranties of any kind,
                        express or implied, about the completeness, accuracy, reliability, suitability or
                        availability with respect to the website / App or the information, products, services, or
                        related graphics contained on the website / App for any purpose. Any reliance you place on
                        such information is therefore strictly at your own risk.
                        In no event will we be liable for any loss or damage including without limitation, indirect
                        or consequential loss or damage, or any loss or damage whatever arising from loss of data
                        or profits arising out of, or in connection with, the use of this website / App.
                        Through this website / App you are able to link to other websites which are not under the
                        control of ezTruck. We have no control over the nature, content and availability of those
                        sites. The inclusion of any links does not necessarily imply a recommendation or endorse the
                        views expressed within them.
                        Every effort is made to keep the portal up and running smoothly. However, ezTruck takes no
                        responsibility for, and will not be liable for, the portal being temporarily unavailable due
                        to technical issues beyond our control.</p><br>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer class="footer-1 footer-wrap">
        {%include 'include/footer.html'%}
    </footer>
    <!-- <script type="text/javascript">
        // Put the jQuery code Here
        $(document).ready(function () {
            var max = 300;
            $(".paragraph").each(function () {
                var str = $(this).text();
                if ($.trim(str).length > max) {
                    var subStr = str.substring(0, max);
                    var hiddenStr = str.substring(max, $.trim(str).length);
                    $(this).empty().html(subStr);
                    $(this).append(' <a href="javascript:void(0);" class="link">Read more…</a>');
                    $(".link").css("color", "blue");
                    $(this).append('<span class="addText">' + hiddenStr + '</span>');
                }
            });
            $(".link").click(function () {
                $(this).siblings(".addText").contents().unwrap();
                $(this).remove();
            });

        });
    </script> -->
</body>

</html>